name: mybru_mobile
description: myBru mobile prototype
version: 0.1.0
publish_to: 'none'

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^1.0.0
  flutter_secure_storage: ^8.0.0
  provider: ^6.0.5
  webview_flutter: ^4.0.7
  url_launcher: ^6.1.10
  intl: ^0.18.1
  flutter_dotenv: ^5.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
  build_runner: ^2.4.8

flutter:
  uses-material-design: true
  assets:
    - assets/
